body{

font-family: 'Poppins', sans-serif;
margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flexiable-container{
    display:flex;
    margin-bottom: 100px;
    
}
.half{
    width:50% ;
    padding:5%;
}
.half-img{
    width: 78%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(orange,tomato);
    padding:10px 40px;
}
.top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image:url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.item{
    width:40%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#web{
    border-left: 10px solid:
    border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
    border-image-slice:1px;
}
#full{
    border-left: 10px solid;
    border-image: linear-gradient(red,cyan);
}
footer p{
    text-align:center ;
}